*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}

.spacer{
    height: 100vh;
}


.image-section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-wrapper{
    width: 70%;
    position: relative;
    overflow: hidden;
}


.image-wrapper img{
    width: 100%;
    transform: translateY(100%) scale((0.8));
    clip-path: inset(100% 0% 0% 0% );
}

.image-wrapper h2 {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 2rem;
    font-weight: 900;
}