/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html,
body {
  padding: auto;
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
}

#box1 {
  height: 300px;
  width: 300px;
  background-color: aquamarine;
}

h1 {
  color: white;
}

#box2 {
  height: 300px;
  width: 300px;
  background-color: rgb(218, 27, 27);
}
