/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html,
body {
  padding: auto;
  height: 100%;
  width: 100%;
  /* item : center */
}

body {
  background-color: black;
}

#string {
  display: flex;
  height: 200px;
  width: 100%;
  font-weight: bold;
  background-color: yellowgreen;
  align-items: center;
  justify-content: center;
}
