/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: aquamarine;
  overflow-x: hidden;
}
#page1 {
  height: 100%;
  width: 100%;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page2 {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 94, 94);
  display: flex;
  align-items: center;
  justify-content: center;
}

#page3 {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

#box {
  height: 300px;
  width: 300px;
  background-color: red;
}

#page3 h1 {
  font-size: 60vmin;
  font-weight: 600;
  text-transform: Uppercase;
  /* white-space: nowrap; */
}
